/* 노멀라이즈 시작 */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* 노멀라이즈 끝 */

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #c7d3e3, #9eafd7 100%) no-repeat;
}

/* form */

#timer-form {
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #5572bb, #374b7c) no-repeat;
  border-radius: 16px;
  box-shadow: 20px 20px 60px 10px #374b7c66;
}

.timer {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group input {
  width: 80px;
  height: 80px;
  text-align: center;
}

button {
  width: 112px;
  height: 48px;
  border: none;
  background-color: #324577;
  color: #617199;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button img {
  width: 16px;
  height: 16px;
}

.changeColor {
  background-color: #5572bb;
  color: #ffffff;
}
